<%include ("partials/header")%>

<h1>
	This is the Home Page
</h1>

<img src="https://media13.s-nbcnews.com/j/MSNBC/Components/Video/202002/200223-kobe-bryant-livestream_29044ca45323009181ae1962b43fbe77.focal-760x428.jpg">

<%include ("partials/footer")%>